<div class="bingo-ball" id="rollDball">
    <label id="nlabel"></label>
</div>
<div class="bingo-ball" *ngFor="let winBall of winBalls">
    <label>{{winBall}}</label>
</div>
<div class="randomize-div">
    <div class="win-balls-top" id="win-balls-top">
        <label>winBalls: {{winBalls}}</label>  
    </div>
   
    <button (click)="getBall()">GET BALL</button>
    <button (click)="newGame()">NEW GAME</button>
    
</div>


<div class="bingo-cards">
    <bingo-card *ngFor="let card of cards" [value]="card" [winners]="winBalls">

    </bingo-card>
</div>
