
<mat-toolbar color="primary">
    <span>Avalible examples:</span>
     <a mat-button routerLink="/rooms-lobby">Slots</a>
     <a mat-button routerLink="/spin-wheel">Wheel</a>
     <a mat-button routerLink="/spin-wheel2">Wheel2</a>
     <a mat-button routerLink="/bingo">Bingo</a>
     <a mat-button routerLink="/forms">FORMS</a>
     <a mat-button routerLink="/dynamic">DYNAMIC CONTENT</a>
     <a mat-button routerLink="/rxjs">RxJS</a>
     <a mat-button routerLink="/observables">Observables</a>
   </mat-toolbar>